.rectangle {
    position: relative;
    width: 1280px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    border: none;
    top:218px;
    right: 80px;
    left: 80px;
    bottom: 706px;
    border-width: 0;
  }
  .home_rectangle{
    position: absolute;
    width: 120px;
    height: 40px;
    top:33px;
    left: 24px;
  }
  .text_home{
    position: absolute;
    
    top: 43px;
    left: 64px;
    bottom:38px;
    color: #FFF;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .text_Payments{
    position: absolute;
    top: 43px;
    left: 178px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .text_Customers{
    position: absolute;
    top: 43px;
    left: 318px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .text_Products{
    position: absolute;
    top: 43px;
    left: 464px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .text_Reports{
    position: absolute;
    top: 43px;
    left: 598px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .text_Connect{
    position: absolute;
    top: 44px;
    left: 726px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .text_More{
    position: absolute;
    top: 44px;
    left: 855px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .text_Developers{
    position: absolute;
    top: 43px;
    left: 1018px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .vector{
    position: absolute;
    top:52px;
    left: 895px;
  }
  .text_Mode{
    position: absolute;
    top: 43px;
    left: 1123px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .switch_test{
    position: absolute;
    width:44px; 
    height:24px; 
    top:41px;
    left:1201px;
  }