:root {
  --background-mix-linear-background: linear-gradient(137deg, #FFE7E7 0%, #D1DCEB 56.83%, #E9F2FD 100%);
}



body {
  margin: 0;
  height: 1024px;
  width: 1440px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-mix-linear-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
